.background {
    background: url('https://wallpapercave.com/wp/wp3278137.jpg') no-repeat center center fixed;
    background-size: cover; 
    opacity: 0.9;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }